# Seller Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)


sns.set_style("whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)
plt.rcParams["font.size"] = 12

In [2]:
ecom_data_df = pd.read_parquet("../data/olist_ecom.parquet")

## Aggregate Seller Performance Metrics

In [ ]:
seller_summary = (
    ecom_data_df.groupby("seller_id")
    .agg(
        total_sales=("price", "sum"),
        total_freight=("freight_value", "sum"),
        total_orders=("order_id", "nunique"),
        avg_delivery_time=(
            "total_delivery_time",
            "mean",
        ),
        avg_delivery_vs_estimate=(
            "delivery_vs_estimate",
            "mean",
        ),  # if value is negative thats mean is good
    )
    .reset_index()
)

In [6]:
# calculate total revenue(price(total_sales) + freight(total_freight))
seller_summary["total_revenue"] = (
    seller_summary["total_sales"] + seller_summary["total_freight"]
)

In [8]:
print(f"Shape of seller_summary: {seller_summary.shape}")
display(seller_summary.sample(5))

Shape of seller_summary: (1347, 7)

,seller_id,total_sales,total_freight,total_orders,avg_delivery_time,avg_delivery_vs_estimate,total_revenue
1183,dfc475d54e1b6dbeeb7d7d9bdaa63827,375.80,92.03,3,7.576950,-13.067211,467.83
458,5962468f885ea01a1b6a97a218797b0a,149.00,16.48,1,9.642442,-16.304074,165.48
1210,e601b04acf48b4576e73ddca9481f0dc,16.49,18.23,1,6.263021,-24.390023,34.72
905,aaed1309374718fdd995ee4c58c9dfcd,495.20,89.81,5,9.975343,-16.168694,585.01
654,7a188843479798ca813108fa7b959286,49.90,8.72,1,NaN,NaN,58.62